<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="PoC">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InterceptActivity" android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.ONBOARDING" />
                <data android:scheme="onboarding" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.ADDDEVICE_CATALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.DEVICE_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.intent.action.WIFIDISPLAYSINKPLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.GOOGLE_AUTH_MANAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.ONBOARDING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.ACCEPT_DIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_CONSENT_AGREEMENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.ADD_SMS_RECIPIENTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.REQUEST_AUTH_CODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.WAITING_DIALOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.RECOMMENDED_DEVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.OPEN_TV_WEB_TNC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.FIND_DEVICE_PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.osp.app.signin.action.ADD_SAMSUNG_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_CHANGE_PASSWORD_FROM_WEB_SDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_SIGN_OUT_FROM_WEB_SDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_CONFIRM_PASSWORD_FROM_WEB_SDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_SIGN_IN_FROM_WEB_SDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_SIGN_UP_WITH_PARTNER_ACCOUNT_FROM_WEB_SDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.samsungaccount.action.REQUEST_SIGN_UP_FROM_WEB_SDK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.mobileservice.action.ACTION_WEBVIEW_WITH_PASSWORD_EXTERNAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.START_ONBOARDING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.WEB_AUTH_MANAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="com.samsung.android.oneconnect.action.ADDDEVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>