<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="PoC">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.RESPONSE_RESTORE_MYFILES" />
                <action android:name="com.sec.android.app.dexonpc.dstFolder" />
                <action android:name="com.sec.android.samsungflow.sink.fileUri" />
                <action android:name="com.samsung.android.intent.action.RESPONSE_BACKUP_MYFILES" />
            </intent-filter>
        </receiver>
    </application>
</manifest>